[submodule "01-data-sources/polars_demo"]
	path = 01-data-sources/polars_demo
	url = git@github.com:dbouquin/polars_demo.git
[submodule "100-example-applications/polars_demo"]
	path = 100-example-applications/polars_demo
	url = git@github.com:dbouquin/polars_demo.git
[submodule "#00-mcp-your-environment/anaconda-mcp-claude-desktop-demo1"]
	path = "#00-mcp-your-environment/anaconda-mcp-claude-desktop-demo"
	url = https://github.com/Anaconda-Labs/anaconda-mcp-claude-desktop-demo.git
